/* CSS reset */
* {
  padding: 0;
  margin: 0;
  /* vertical-align: baseline;
  list-style: none;
  border: 0; */

  color: #3f3d56;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

body {
  display: flex;
  justify-content: center;
}

.container-register {
  max-width: 396px;
  width: 100%;
}

.container-login {
  max-width: 515px;
  width: 100%;
}

.form {
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 37px;

  margin: 60px 0 22px;
}

.aside,
.genre-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.space-between {
  width: 48%;
}

.box-genre {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.genre-title {
  margin-bottom: 9px;
}

.label-field {
  margin-bottom: 4px;
}

.input {
  width: 100%;
  border: 1px solid #abb3a8;

  padding: 12px 14px;
  box-sizing: border-box;
  height: 47px;
}

.eula {
  display: flex;
  margin-bottom: 28px;
}

.checkbox-field {
  min-height: 18px;
  min-width: 18px;
  margin-right: 10px;
}

.button {
  width: 100%;
  padding: 14px 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: #3f3d56;
  border-radius: 5px;
  border: 0;
  margin-bottom: 28px;
  transition-duration: 300ms;
}

.button:hover {
  background-color: #3f3d56e8;
}

a {
  color: #1db9e0;
}

.account {
  margin-bottom: 30px;
}
