@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$first-font: "Inter", sans-serif;

$red: #ff5959;
$white: #ffffff;
$green: #52df68;
$grey: #343434;
$light-grey: #969696;
$background: #292727;
$black: #292626;
